__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
app_config.json
bbox_history.json
build
dist
docs

# Virtual Environment
.venv/

# Reference repository
Turnout-main/

# Temporary map outputs
*.html
.vscode
nrclip_builder.zip
collections.nrclip
N05-20_GML/
NIMBY-Rails-Shapes-to-POIs-main/
